darkdetect==0.8.0
keras==2.8.0
mediapipe==0.10.8
numpy==1.23.5
opencv_contrib_python==4.8.1.78
opencv_python==4.8.1.78
Pillow==9.4.0
Pillow==10.2.0
pyttsx3==2.90
setuptools==65.6.3
streamlit==1.31.1
tensorflow==2.8.0
tensorflow_gpu==2.8.0
tensorflow_intel==2.13.0
